body {color:#666;}

/* dl */
/*.profiles dt{
  float: left;
  text-align: left;
}
.profiles dd{
  margin-left: 7em;
}*/
/* /dl */
.row{
  /*border-top:1px solid #000;*/
}
/* .xs */
.tips{
  display: inline-block;
  text-decoration: none;
  /*text-shadow: 0 .1em 0 rgba(255, 255, 255, 0.4);*/
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  vertical-align: middle;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  padding:.1em .5em;
  /*padding-left: 1em;*/
  -webkit-box-shadow: 0 .1em .1em 0 rgba(0, 0, 0, 0.2), inset 0 .1em 0 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 .1em .1em 0 rgba(0, 0, 0, 0.2), inset 0 .1em 0 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 .1em .1em 0 rgba(0, 0, 0, 0.2), inset 0 .1em 0 0 rgba(255, 255, 255, 0.4);
  color: #996633;
  margin-bottom: .4em;
  border: .1em solid #DDA13C;
  background: rgb(238,177,75);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(238,177,75,1) 0%, rgba(204,145,45,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,177,75,1)), color-stop(100%,rgba(204,145,45,1)));
   background: -webkit-linear-gradient(top, rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%); 
  background: -o-linear-gradient(top, rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
  background: linear-gradient(top, rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb14b', endColorstr='#cc912d',GradientType=0 );
}
.tips:hover {
  background: rgb(240,183,86);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(240,183,86,1) 0%, rgba(214,160,68,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,183,86,1)), color-stop(100%,rgba(214,160,68,1)));
  background: -webkit-linear-gradient(top, rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
  background: -o-linear-gradient(top, rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
  background: linear-gradient(top, rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b756', endColorstr='#d6a044',GradientType=0 );
}
.tips:before {
  content: '\2022';
  color: #FFFFFF;
  vertical-align: middle;
  margin-right: .2em;
  /*text-shadow: 0 -0.1em -0.1em rgba(0, 0, 0, 0.2);*/
}
.tips-d{
  color: #428bca;
  display: inline;
  padding-left: .5em;
  font-size: .8em;
  line-height: 1;
  color: #fff;
  vertical-align: baseline;
}
.skills,.keys{
  padding-left: 0px;
}

.profiles dt{
  float: left;
  width: 6em;
  overflow: hidden;
  clear: left;
  /*text-align: right;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.profiles dd{
  margin-left: 6em;
}
.timeline dt{
  margin-top: 1em;
}
.timeline dd{
  margin-left: 3em;
}
.update{
  font-size: 66.7%;
  text-align: right;
}
.photo img{
  border: 1px solid #666;
  max-width: 15em;
  max-height: 10em;
  padding: .5em;
}
.container{
  word-wrap: break-word;
  word-break: break-all;
}
@media (max-width: 640px){
  .photo img{
    width: 100%;
    max-width: 20em;
    max-height: 100%;
    padding: 2%;
  }
}
@media (max-width: 540px){
  /* clear float 400px */
  .cf400{
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: static;
    top: 0;
    left: 0;
  }
  .photo img{
    width: 100%;
    border: 0;
    padding: 0;
  }
  .row{
    margin: 0;
  }
}
@media (max-width: 768px){
}
/* /.xs */
/* .sm */
@media (min-width: 768px){
  .profiles dt{
    text-align: left;
  }
}
/* /.sm */
/* .md */
@media (min-width: 992px){
  .photo{
    text-align: right;
  }

}
/* /.md */
/* .lg */
@media (min-width: 1200px){

}
/* /.lg */

/* print */
@media print{
  .container>h1{
    margin-top: 0;
    padding-top: 0;
  }
  .tips{
    margin-bottom: .5em;
  }
  .PageNext{
    PAGE-BREAK-AFTER: always;
  }   

  .container{
    margin: 0;
    width: 100%;
    padding: 0;
    border: 0;
  }
  a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    text-decoration: underline;
  }
  body{
    padding: 0;
    margin: 0;
    border: 0;
  }
}
/* /print */