<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Theme remake by <a href="https://github.com/shenqihui/hexo-theme-alberta" target="_blank">shenqihui</a> base <a href="http://jaychung.tw" target="_blank">jaychung</a>'s <a href="https://github.com/ken8203/hexo-theme-alberta" target="_blank">Alberta</a>. Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> and <a href="https://pages.github.com/">Github Pages</a>. <a href="/sitemap.xml">Sitemap</a> .
    </div>
  </div>
</footer>
